body {
    background-color: #18191E;
}

h1, label{
    margin-top:3%;
    color: aliceblue;
    text-align: center;
}

.form-control {
    background-color: #222328;
    color: white;
    border: none;
}

a {
    color: gray;
}

a:link{
    text-decoration:none;
    
}

.rrss{
    margin-top:7%;
    text-align: center;
    color: gray;
}

button {
    margin:2%;
}

strong{
    margin-top:7%;
}

@media (min-width: 360px) {
    img{
        margin-top:7%;
        width: 10%;
    }
}

@media (min-width: 1400px) {
    img{
        margin-top:2%;
        width: 7%;
    }

    h1, label{
        margin-top:5px;
    }

    .rrss{
        margin-top:2%;
    }
}